/* quando colocar em outros forms, remover classe do form? */

form.login-form .input-block {
  position: relative;
}

form.login-form .input-block + .input-block {
  margin-top: 24px;
}

form.login-form .input-block label, form.login-form .input-block .forgot-password {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

form.login-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

form.login-form .input-block input {
  height: 64px;
  width: 100%;
  padding: 0 16px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

form.login-form .input-block div.eye-container {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 32px;
  right: 32px;
}

form.login-form .input-block div.eye-container img {
  cursor: pointer;
  transform: translate(-50%, -50%);
}