#login-area main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 100%;

  background-color: #FFFFFF;
}

#login-area main .back-button {
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  width: 48px;
  height: 48px;

  border: 0;

  background: #EBF2F5;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#login-area main .back-button:hover {
  background: #ccdee5;
}