aside.login-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60vw;

  background: linear-gradient(160deg,#15b6d6 0%, #15d6b3 100%);
}

aside.login-sidebar .location {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;

  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

aside.login-sidebar .location strong {
  font-weight: 800;
}
