aside.app-sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  padding: 32px 24px;
  /* background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%); */
  /* background: linear-gradient(160deg,#15b6d6 0%, #15d685 100%); */
  background: linear-gradient(160deg, #15b6d6 0%, #15d6b3 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar div.middle-buttons {
  display: flex;
  flex-direction: column;
}

aside.app-sidebar div.middle-buttons a,
aside.app-sidebar div.middle-buttons button {
  margin: 5px 0;
  color: #fff;
}

aside.app-sidebar a,
aside.app-sidebar button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12ba9b;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar a:hover,
aside.app-sidebar button:hover {
  background: #17e8c2;
}

aside.app-sidebar div a.current-page-button,
aside.app-sidebar div button.current-page-button {
  background-color: #ffd666;
  color: #0089a5;
}

aside.app-sidebar div.middle-buttons a.current-page-button:hover,
aside.app-sidebar div.middle-buttons button.current-page-button:hover {
  background-color: #ffe499;
}
