#page-dashboard {
  display: flex;
  justify-content: center;
}

#page-dashboard main {
  flex: 1;
  margin: 4rem 0 4rem calc(96px + calc(100vw - 100%));
  max-width: 1200px;
}

#page-dashboard main.content-wrapper h1 {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

#page-dashboard div.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
